.container
  .row
    .intro.col-md-12
      h2 Cash Flow: The Preliminary 2017 Budget
      p This diagram depicts the flow of money through Grand Rapids' budget: from revenue sources (on the left), to the General Fund or various non-discretionary funds (in the center), and finally to the various city departments' expenses (on the right).
      p <br>
      h3 Instructions
      ul.list-unstyled
      li <strong>Mouse</strong> over a flow line to highlight it.
      li <strong>Click</strong> on a bar to highlight all its flows.
  .row
    .col-md-3
      h4 Fiscal Year
      select#fy.form-control

  #sankey
    #chart

  h6
    | Data source:&nbsp;
    a(href = "http://data.grcity.us/") data.grcity.us
  h6 Data transformation notes: Revenue rows are aggregated by the second "Account Type" column. Expense rows are aggregated by the "Department" column. Funds are aggregated by the "Funds - Description" column, and all values other than "1010 - General Fund: General Purpose" are grouped under the heading "Non-discretionary funds."

  #hover_description

script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
script(src='js/sankey.js', charset='utf-8')
script(src='js/flow.js', charset='utf-8')

//- this is kind of a dumb hack to allow a jade loop within the script
//- which is necessary to get a list of files in the directory
| <script type='text/javascript'>
|   var datafiles = [];
- for file in public.data.fy1517GR_flow._contents
    | datafiles.push("
    = file
    | ");
| </script>
script.
    var years = []
    datafiles.forEach(function(datafile){
        years = years.concat(datafile.slice(0,-4).split("__"));
    })
    years.reverse();
    d3.select("#fy.form-control").selectAll('option')
        .data(years)
        .enter()
        .append('option')
            .attr('value', function(d){ return d; })
            .property('selected', function(d,i){ return i == 0;})
            .text(function(d){return d;})
            ;

    d3.select("#fy.form-control")
        .on('change', drawFlow)
        ;

    // run once to initially populate the chart
    drawFlow();

    function drawFlow(){
        years.reverse();
        var fy = d3.select("#fy.form-control").node().value,
            fy_i = years.indexOf(fy),
            file_i = Math.floor(fy_i / 2),
            filename = datafiles[file_i];
        years.reverse();

        d3.csv("data/fy1517GR_flow/" + filename, function(error, data){
            if (error) {
                console.log('error', error);
                return false;
            }
            var final_data = data_wrangle(data, fy);
            do_with_budget(final_data);
        });
    }
