.container
  .row
    .col-md-12
      h1 Grand Rapids Budget Visualizations

  .row
    .col-md-6
      a(href="/2017-GRprelim-flow.html")
        h3 Cash Flow: 2017 Preliminary Budget
        img.img-responsive(src="/images/flow-thumb-1517.jpg")

    .col-md-6
      a(href="/2017-GRprelim-tree.html")
        h3 Detailed Breakdown: FY2017 Preliminary Budget
        img.img-responsive(src="/images/tree-thumb-1517.jpg")

