.container

  .row
    .col-md-9
      div
        h2.subheader News
        
        p
        a(href='http://www.mlive.com/news/grand-rapids/index.ssf/2016/04/20_numbers_-_one_higher_than_e.html' , target='_blank') MLIVE: 20 numbers - one higher than ever - from first budget of Mayor Rosalynn Bliss era
        p
        a(href='http://blog.okfn.org/2013/04/29/open-budget-oakland-and-openspending/', target='_blank') OKFN: From Hackathon to Civic Collaboration
        p
        Add a bit more.....
                


